{% extends 'base.html' %}

{% block content %}
<div class="row text-center">
    <div class="col-md-12 mb-4  mt-4">
        <h1>{{ title }}</h1>
    </div>
</div>
<div class ="row">
    <div class="col-md-4">
        <!-- Empty column -->
    </div>
    <div class="col-md-4">
        <form role="form" action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-lg-12 mb-4">                                                
                    <div class="form-group position-relative">
                        {{ form.email.label }} <span class="text-success">*</span> <br>
                        {{ form.email(class_='form-control') }}
                        {% for error in form.email.errors %}
                            <span style="color: red;">{{error}}</span>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-lg-12 mb-4">
                    <div class="form-group position-relative">
                        {{ form.password.label }} <span class="text-success">*</span> <br>
                        {{ form.password(class_='form-control') }}
                        {% for error in form.password.errors %}
                            <span style="color: red;">{{error}}</span>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-lg-12 mb-4">                                                
                    <div class="form-group">
                        <div class="custom-control m-0 form-check form-switch">
                            {{ form.remember_me(class_='custom-control-input, form-check-input') }} {{ form.remember_me.label(class_='custom-control-label, form-check-label') }}
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 mb-4 text-center">
                    {{ form.submit(class_='btn bg-success btn-lg btn-rounded w-20 mt-4 mb-0') }}
                </div>
                
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <!--Empty column  -->
    </div>
</div>
{% endblock %}